<h1>ClassManager</h1>
<div *ngIf = "selectedClass != undefined">
    <div *ngIf = "selectedClass._id != undefined">
        <div>
            <h2>{{selectedClass.name}}</h2>
            <h5>( {{selectedClass.shedule}} )</h5>
        </div>
        <ngb-tabset>
            <ngb-tab>
                <ng-template ngbTabTitle>Sessions</ng-template>
                <ng-template ngbTabContent>
                    <app-session-planner></app-session-planner>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Members</ng-template>
                <ng-template ngbTabContent>
                    <app-member-manager></app-member-manager>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
        <div id="delete" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Deleting Class</h4>
                    <span class="close" (click) = 'closeModal("delete")'>&times;</span>
                </div>
                <div class="modal-body">
                    <p>This will delete the current Class from the system.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" [disabled] = 'selectedClass === undefined' (click)="deleteClass(); closeModal('delete')">
                        Confirm
                    </button>
                    <button type="button" class="btn btn-outline-dark" (click)="closeModal('delete')">Cancel</button>
                </div>
            </div>
        </div>
        <button  class='btn btn-primary' (click)="editClass()"><span class="fa fa-wrench"></span> Edit Class</button>
        <button  class='btn btn-primary' (click)="openModal('delete')"><span class="fa fa-trash-alt"></span> Delete Class</button>
    </div>
</div>
<div *ngIf ="selectedClass === undefined || selectedClass._id === undefined">
    <h3>
        Please create or select a class.
    </h3>
</div>
