<table *ngIf = "selectedClass.sessions.length > 0" class="table table-bordered">
    <thead>
        <tr>
            <th scope = "col">Name</th>
            <th *ngFor = "let session of selectedClass.sessions" 
                class="hoverable" 
                [class.selected] ="session === selectedSession" 
                scope = "col" 
                (click) = 'selectSession(session)'>
                {{getDate(session)}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let member of selectedClass.members">
            <td>
                {{member.name}}
                {{member.lastName}}
            </td>
            <td *ngFor ="let session of selectedClass.sessions">
                {{getRelation(member, session)}}
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf = "selectedClass.sessions.length == 0">
    <p>There are no sessions yet for this class</p>
</div>
<div id="remove" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title">Deleting Session</h4>
                    <span class="close" (click) = 'closeModal("remove")'>&times;</span>
            </div>
            <div class="modal-body">
                    <p>This will delete the selected Session. Do you really want to delete this session?</p>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" [disabled] = 'selectedSession === undefined' (click)='deleteSession(); closeModal("remove")'>Confirm</button>
                <button type="button" class="btn btn-outline-dark" (click)='closeModal("remove")'>Cancel</button>
            </div>
        </div>
    </div>

<button class= 'btn btn-primary' (click) = "addNewSession()"><i class="fa fa-calendar-plus-o"></i> Add new Session</button>
<button [disabled] = "selectedSession === undefined" class= 'btn btn-primary'(click) = "editSession()"><i class="fa fa-wrench"></i> Edit Session</button>
<button [disabled] = "selectedSession === undefined" class="btn btn-primary" (click) = "openModal('remove')"><i class="fa fa-trash"></i> Delete Session</button>
