Sessions of this class
   
<table *ngIf = 'selectedClass' class="table">
    <thead>
        <tr>
            <th scope = "col">Name</th>
            <th *ngFor = "let session of selectedClass.sessions" scope = "col" (click) = 'selectSession(session)'>{{getDate(session)}}</th>
        </tr>
    </thead>
    <tbody class ="table">
        <tr *ngFor = "let member of selectedClass.members">
            <td>
                {{member.name}}<br>
                {{member.lastName}}
            </td>
            <td *ngFor ="let session of selectedClass.sessions">
                {{getRelation(member, session)}}
            </td>
        </tr>
    </tbody>
</table>

<div id="remove" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title">Deleting Session</h4>
                    <span class="close" (click) = 'closeModal("remove")'>&times;</span>
            </div>
            <div class="modal-body">
                    <p>This will delete the selected Session. Do you really want to delete this session?</p>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" [disabled] = 'selectedSession === undefined' (click)='deleteSession(); closeModal("remove")'>Confirm</button>
                <button type="button" class="btn btn-outline-dark" (click)='closeModal("remove")'>Cancel</button>
            </div>
        </div>
    </div>
      
<button *ngIf = 'selectedSession' class="btn btn-secondary" (click) = "openModal('remove')">Delete Session</button>
<button class= 'btn btn-primary' (click) = "addNewSession()">Add new Session</button>
<button *ngIf='selectedSession' class= 'btn btn-primary' (click) = "editSession()">Edit Session</button>


    
        