Sessions of this class
   
<table class="table">
    <thead>
        <tr>
            <th scope = "col">Name</th>
            <th *ngFor = "let session of selectedClass.sessions" scope = "col" (click) = 'selectSession(session)'>{{session.date}}</th>
        </tr>
    </thead>
    <tbody *ngIf = "selectedClass" class ="table">
        <tr *ngFor = "let member of selectedClass.members">
            <td>
                {{member.name}}<br>
                {{member.lastName}}
            </td>
            <td *ngFor ="let session of selectedClass.sessions">
                {{getRelation(member, session)}}
            </td>
        </tr>
    </tbody>
</table>
<button class= 'btn btn-primary' (click) = "addNewSession()">Add new Session</button>
<button *ngIf='selectedSession' class= 'btn btn-primary' (click) = "editSession()">Edit Session</button>


    
        