<nav class="sidebar">
    <ul class="list-group">
        <div class="sidebar-header">
            <h3>Classes Overview</h3>
        </div>
        <li class="list-group-item">
            <i class = "fa fa-book"></i>
            Your Classes
            <ol>
                <li *ngFor='let class of classes' (click)="selectClass(class)">
                    {{class.name}}
                </li>
            </ol>
        </li>
        <li class="list-group-item" [routerLink] = "['/class/new']">> 
            <i class = "fa fa-plus-circle"></i>
            Add new Class
        </li>
    </ul>
</nav>

    