<h3>Member Overview</h3>
<p>There are currently {{members.length}} saved members.</p>
<button class= 'btn btn-primary' (click)="createNewMember()" ><span class="fa fa-user-plus"></span> Add new Member</button>
<button [disabled] = 'selectedMember === undefined' class='btn btn-primary' (click)="editMember()"><span class="fa fa-wrench"></span> Edit Selected Member</button>
<button [disabled] = 'selectedMember === undefined' class='btn btn-primary' (click)="openModal('delete')"><span class="fa fa-trash"></span> Delete Member</button>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope = "col">Name</th>
            <th scope = "col">Last Name</th>
            <th scope = "col">Email</th>
            <th scope = "col">Phone Number</th>
            <th scope = "col">Verified</th>
            <th scope = "col">Bonus</th>
        </tr>
    </thead>
    <tbody *ngIf = "members.length > 0" class ="table">
        <tr *ngFor = "let member of members" class="hoverable" [class.selected] ="member === selectedMember" (click) = 'select(member)'>
            <td>{{member.name}}</td>
            <td>{{member.lastName}}</td>
            <td>{{member.email}}</td>
            <td>{{member.tel}}</td>
            <td>{{member.verified}}</td>
            <td>{{member.gotBonus}}</td>
        </tr>
    </tbody>
</table>


<div id="delete" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Deleting Member</h4>
            <span class="close" (click) = 'closeModal("delete")'>&times;</span>
        </div>
        <div class="modal-body">
            <p>This will delete the selected Member from the system.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" [disabled] = 'selectedMember === undefined' (click)="deleteMember(); closeModal('delete')">Confirm</button>
            <button type="button" class="btn btn-outline-dark" (click)="closeModal('delete')">Cancel</button>
        </div>
    </div>
</div>
  
