@import './variables';
@import './mixins';

$color: aqua;
$hoverColor: darken($color, 10);
$selectedColor: darken($hoverColor, 10);

.wrapper {
    display: flex;
    align-items: stretch;
}

.selected {
    background-color: $selectedColor;
    color: white;
}

.hoverable {
    cursor: pointer;
}
.hoverable:hover {
    background-color: $hoverColor;
    color: white;
}

.sidebar .list-group {
    .list-group-item {
        padding: 6px 13.5px;
        font-size: initial;
        cursor: pointer;
    }
}

.form-check-input.ng-untouched.ng-pristine.ng-valid {
    margin-top: 0px;
    width: 17px;
    height: 17px;
}

.form-check-label{
    padding: 0px;
}

.btn {
    margin-bottom: 5px;
}

#class-list{
    display: none;
    overflow-y: overlay;
    max-height: 300px;
}

#open{
    display: none;
}

#closed{
    display: inline;
}

.sidebar {
    min-height: 100vh;
    padding-top: 10px;
    background-color: $color;
}
.sidebar-header{
    padding-left: 13.5px;
}

.navbar {
    background-color: $color;
}

nav {
    margin-bottom: 0px !important;
}

.datepicker-short {
    font-size: medium;
    text-align: center;
    max-width: 50px;
}

.datepicker-long {
    font-size: medium;
    text-align: center;
    max-width: 70px;
}

.datepicker-label{
    font-weight: 600;
    font-size: small;
    margin-right: 5px !important;
    margin-left: 5px !important;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

app-manager-sidebar {
    width: 20%;
    min-width: 185px;
}

.main-container {
    width: 80%;
    min-width: 500px;
    margin: 15px;
    margin-top: 0px;
}

.card{
    padding: 10px;
    max-width: 60%;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}